<h2 class="text-center text-4xl pt-2">Account Settings</h2>

<div class="flex justify-center">
  <div class="m-2 p-2 border-2 border-zinc-50 md:rounded-md w-full md:w-1/2 bg-zinc-50 shadow-md">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field flex flex-col justify-center my-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>

      <div class="field flex flex-col justify-center my-3">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field flex flex-col justify-center my-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>

      <div class="field flex flex-col justify-center my-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>

      <div class="actions mb-2">
        <%= f.submit "Update", class: "btn btn-primary w-full bg-sky-600 p-2 rounded text-slate-50 font-semibold cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
